
@{
    ViewBag.Title = "Index";
}

<div class="row-fluid">
    <div class="span6" ontablet="span7" ondesktop="span6">
        <h1 class="bienvenido">Bienvenid@@</h1>
        <br />
        <h2 class="titulo">Sistema de Gestión Escolar</h2>
    </div>
    <div class="span6 bg-index" ontablet="span7" ondesktop="span6">
    </div>
</div>

