<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Bienvenido al sistema</title>
    <style type="text/css">
        html, body { font-family: Arial, Calibri, Tahoma; padding: 10px; }
    </style>
</head>
<body>
    <h1>Hola, {Nombres}</h1>
    <p>Bienvenido al Sistema de Votación Electrónica de la Institución Educativa Innova School.</p>
    <table style="width: 100%; background-color: #f4f4f4; margin-top: 10px; padding: 15px;">
        <tbody>
            <tr>
                <td>
                    <div>Se ha generado las siguientes credenciales para el proceso de votación:</div><br />
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:150px"><b>Alumno:</b></td>
                                <td>{Nombres} {Apellidos}</td>
                            </tr>
                            <tr>
                                <td><b>Usuario:</b></td>
                                <td>{Usuario}</td>
                            </tr>
                            <tr>
                                <td><b>Clave:</b></td>
                                <td>{Clave}</td>
                            </tr>
                            <tr>
                                <td><b>Fecha:</b></td>
                                <td>09/04/2016</td>
                            </tr>
                            <tr>
                                <td><b>Lugar de votación:</b></td>
                                <td>Sede San Isidro, Aula 403 - Pabellon 1</td>
                            </tr>
                        </tbody>
                    </table>                    
                </td>
            </tr>
        </tbody>
    </table>
    <p>Ud. puede realizar el proceso de votación en la siguiente dirección: <a style="text-decoration:underline" href="https://www.innovaschools.edu.pe">https://www.innovaschools.edu.pe</a> accediendo con sus credenciales.</p>
</body>
</html>
