@{
    ViewBag.Title = "Plan de gobierno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script type="text/javascript">
        function ViewModel()
        {
            var self = this;

        }

        $(function () {
            var modelo = new ViewModel();
            ko.applyBindings(modelo);
        });
    </script>
}

@section breadcrumb{
    <li>
        <i class="icon-angle-right"></i>
        <a href="#">Gobierno Escolar</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="~/GobiernoEscolar/Partidos/Registro/@ViewBag.IdPartido">@(ViewBag.NombrePartido ?? "Partido")</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="#">Plan de Gobierno</a>
    </li>
}
<div class="form-horizontal">
    <fieldset>
        <div class="panel panel-default">
            <div class="panel-heading"><h4 style="margin:0">Plan de Gobierno</h4></div>
            <div class="panel-body">
                <h2>Actividades</h2>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Fecha</th>
                            <th>Sub Actividad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <h2>Instrumentos</h2>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Objetivo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer text-center">
                <button type="button" class="btn btn-success">Aprobar PG</button>
                <button type="button" class="btn btn-default">Imprime</button>
                <button type="button" class="btn btn-danger">Observar</button>
            </div>
        </div>
    </fieldset>
</div>
