@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #logo-partido { border:2px solid #808080; padding:5px; max-height:150px; max-width:100%; cursor:pointer; }
</style>

@section breadcrumb{
    <li>
        <i class="icon-angle-right"></i>
        <a href="#">Gobierno Escolar</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="~/GobiernoEscolar/Partidos">Partidos</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="#">Actualizar informacion del Partido</a>
    </li>
}

<div>
    <div class="row-fluid sortable ui-sortable">
        <div class="box span12">
            <div class="box-header" data-original-title="">
                <h2><i class="halflings-icon white edit"></i><span class="break"></span>Informacion del Partido</h2>
                <div class="box-icon">
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-down"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="form-horizontal">
                    @using (Html.BeginForm("Registro", "Partidos", new { area = "GobiernoEscolar" }, FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
                    {
                        <fieldset>
                            <div class="row-fluid">
                                <div class="span9">
                                    <div class="control-group">
                                        <label class="control-label">Nombre del partido</label>
                                        <div class="controls">
                                            <input name="NombrePartido" type="text" class="input-xxlarge editable-input" title="Se necesita un nombre">
                                        </div>
                                    </div>
                                </div>
                                <div class="span3 text-right">
                                    <div class="control-group">
                                        <img id="logo-partido" src="http://placehold.it/200x200">
                                        <br />
                                        <input id="upload" type="file" name="image" style="display:none" />
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Codigo Alumno</label>
                                        <div class="controls">
                                            <input name="CodigoAlumno" type="text" class="input-small editable-input" title="Se necesita un nombre" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Nombre Alumno</label>
                                        <div class="controls">
                                            <input name="NombreAlumno" type="text" class="input-xlarge editable-input" title="Se necesita un nombre" disabled />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Grado</label>
                                        <div class="controls">
                                            <input name="GradoAlumno" type="text" class="editable-input" title="Se necesita un nombre" disabled />
                                            <button class="btn btn-default">>></button>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Cargo</label>
                                        <div class="controls">
                                            <select name="Cargo"></select>
                                            <button class="btn btn-default"><<</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Grado</th>
                                                <th>Cargo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="form-actions">
                                <button type="button" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-default">Imprimir</button>
                                <a href="~/GobiernoEscolar/Partidos/PlanGobierno/1" class="btn btn-success">Visualizar plan de gobierno</a>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var App = {        
        Id: '@ViewBag.IdPartido',
        Init: function () {
            var id = '@ViewBag.IdPartido';
            if (id) {
                $.get('@Url.Content("~/GobiernoEscolar/Partidos/VerPartido")', { id: id })
                    .done(function (data) {
                        //console.log(data);
                        var p = data.Partido;
                        App.Id = p.IdPartido;
                        $('[name=NombrePartido]').val(p.Nombre);

                        if (data.Logo) {
                            $('#logo-partido').attr('src', "data:image/png;base64," + data.Logo);
                        }
                    });
            }
        },
        Guardar: function () {
            var frm = $('#form');
            var nombre = $('[name=NombrePartido]').val();
            var logo = $('#logo-partido').attr('src');
            var integrantes = [];

            var params = {
                IdPartido: App.Id,
                NombrePartido: nombre,
                Logo: logo,
                Integrantes: integrantes
            };

            //console.log(params);

            if (!params.NombrePartido) {
                appMaster.MessageBox('Aviso', 'Ingrese un nombre para el partido');
                return;
            }

            $.ajax({
                type: 'POST',
                url: frm.attr('action'),
                data: JSON.stringify(params),
                dataType: 'json',
                contentType: 'application/json',
                success: function (response) {
                    appMaster.MessageBox('Listo', 'El partido ha sido guardado');
                },
                error: function (xhr) {
                    alert("error");
                }
            });
        }
    };

    $(function () {
        App.Init();

        $('#logo-partido').click(function () {
            $('#upload').click();
        });

        $('#upload').change(function () {
            var input = this;

            if (input.files && input.files[0]) {
                var file = input.files[0];

                if (file.type !== '' && !file.type.match('image.*')) {
                    toastr.warning('Archivo no es una imagen');
                    return;
                }

                var FR = new FileReader();
                FR.onload = function (e) {
                    $('#logo-partido').attr('src', e.target.result);
                };
                FR.readAsDataURL(file);
            }

        });

        $('input[name=CodigoAlumno]').keydown(function (e) {
            if (e.keyCode == 13) {
                appMaster.MessageBox('Enter', 'Agregar funcion!!');
            }
        });

        $('.btn-primary').click(function () {            
            App.Guardar();
        });
    });
</script>