@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <style type="text/css">
        #logo-partido { border: 2px solid #ddd; padding: 5px; max-height: 150px; max-width: 100%; cursor: pointer; box-sizing: border-box; }
    </style>
}

@section scripts
{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script type="text/javascript">
        function ViewModel() {
            var self = this;
            self.Partido = {
                IdPartido: ko.observable('@ViewBag.IdPartido'),
                NombrePartido: ko.observable(),
                Logo: ko.observable('http://placehold.it/200x200'),
                Integrantes: ko.observableArray()
            }

            self.Alumno = {
                IdAlumno: ko.observable(),
                Nombre: ko.observable(),
                Grado: ko.observable()
            };

            self.IntegranteSeleccionado = ko.observable();

            self.Cargos = ['Presidente', 'Secretario', 'Vocal'];

            self.Guardar = function () {
                var params = ko.toJS(self.Partido);

                //console.log(params);

                if (!params.NombrePartido) {
                    appMaster.MessageBox('Aviso', 'Ingrese un nombre para el partido');
                    return;
                }

                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/GobiernoEscolar/Partidos/Registro")',
                    data: JSON.stringify(params),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (response) {
                        appMaster.MessageBox('Listo', 'El partido ha sido guardado');
                    },
                    error: function (xhr) {
                        alert("error");
                    }
                });
            }

            self.Init = function () {
                if (self.Partido.IdPartido()) {
                    $.get('@Url.Content("~/GobiernoEscolar/Partidos/VerPartido")', { id: self.Partido.IdPartido() })
                        .done(function (data) {
                            //console.log(data);
                            var p = data.Partido;
                            self.Partido.IdPartido(p.IdPartido);
                            self.Partido.NombrePartido(p.Nombre);

                            if (data.Logo) {
                                self.Partido.Logo("data:image/png;base64," + data.Logo);
                            }
                        }).fail(function (xhr) { console.log(xhr); });
                }
            }

            self.BuscarAlumno = function (v, e) {
                if (e.keyCode == 13) {
                    //self.Alumno.IdAlumno()
                    self.Alumno.Nombre('Alumno ' + new Date().getTime());
                    self.Alumno.Grado('4');
                }
            }

            self.AgregarIntegrante = function () {
                var alumno = ko.toJS(self.Alumno);
                self.Partido.Integrantes.push(alumno);
                self.Alumno.IdAlumno(null);
                self.Alumno.Nombre(null);
                self.Alumno.Grado(null);
            }

            self.SeleccionarIntegrante = function (data) {
                self.IntegranteSeleccionado(data);
            }

            self.EliminarIntegrante = function () {
                var sel = ko.utils.arrayFirst(self.Partido.Integrantes(), function (x) {
                    return x.IdAlumno == self.IntegranteSeleccionado().IdAlumno;
                });

                if (sel) {
                    self.Partido.Integrantes.remove(sel);
                    self.IntegranteSeleccionado(null);
                }
            }

            self.CambiarLogo = function () {
                $('#upload').click();
            }

            $('#upload').change(function () {
                var input = this;

                if (input.files && input.files[0]) {
                    var file = input.files[0];

                    if (file.type !== '' && !file.type.match('image.*')) {
                        appMaster.MessageBox('Error', 'Archivo no es una imagen');
                        return;
                    }

                    var FR = new FileReader();
                    FR.onload = function (e) {
                        self.Partido.Logo(e.target.result);
                    };
                    FR.readAsDataURL(file);
                }

            });
        }

        $(function () {
            var model = new ViewModel();
            ko.applyBindings(model);
            model.Init();
        });
    </script>
}

@section breadcrumb{
    <li>
        <i class="icon-angle-right"></i>
        <a href="#">Gobierno Escolar</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="~/GobiernoEscolar/Partidos">Partidos</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="#">Actualizar informacion del Partido</a>
    </li>
}

<div class="form-horizontal">
    <fieldset>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="control-group">
                            <label class="control-label">Nombre del partido</label>
                            <div class="controls">
                                <input name="NombrePartido" type="text" data-bind="value: Partido.NombrePartido" class="form-control" title="Se necesita un nombre">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 text-right">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <img id="logo-partido" data-bind="attr: {'src': Partido.Logo}, click: CambiarLogo">
                                <br />
                                <input id="upload" type="file" name="image" accept="image/*" style="display:none" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="control-label">Codigo Alumno</label>
                                <input name="CodigoAlumno" type="text" data-bind="value: Alumno.IdAlumno, valueUpdate: 'afterkeydown', event: { keyup: BuscarAlumno }" class="form-control" title="Se necesita un nombre" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="control-label">Nombre Alumno</label>
                                <input name="NombreAlumno" type="text" data-bind="value: Alumno.Nombre" class="form-control" title="Se necesita un nombre" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="control-label">Grado</label>
                                <input name="GradoAlumno" type="text" data-bind="value: Alumno.Grado" class="form-control" title="Se necesita un nombre" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="control-label">Cargo</label>
                                <select name="Cargo" class="form-control" data-bind="options: Cargos, value: Alumno.Cargo"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-2">
                        <div class="hidden-xs">
                            <br /><br /><br /><br /><br /><br />
                        </div>                        
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button class="btn btn-default" data-bind="click: AgregarIntegrante">>></button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button class="btn btn-default" data-bind="enable: IntegranteSeleccionado, click: EliminarIntegrante"><<</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Grado</th>
                                    <th>Cargo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--ko foreach: Partido.Integrantes-->
                                <tr data-bind="click: $root.SeleccionarIntegrante">
                                    <td data-bind="text: $data.Nombre"></td>
                                    <td data-bind="text: $data.Grado"></td>
                                    <td data-bind="text: $data.Cargo"></td>
                                </tr>
                                <!--/ko-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <button type="button" class="btn btn-primary" data-bind="click: Guardar">Guardar</button>
                <button type="button" class="btn btn-default">Imprimir</button>
                <a href="~/GobiernoEscolar/Partidos/PlanGobierno/1" class="btn btn-success">Visualizar plan de gobierno</a>
            </div>
        </div>        
    </fieldset>
</div>